<template name="section">
    <section id="{{id}}" class="main">
        <div class="inner spotlight {{style}}">
            <div class="content">
                <header>
                    <h2>{{title}}</h2>
                </header>
                <p>{{content}}</p>
            </div>
            <!--
                Note: You can replace the image below with a JPEG or PNG. Just make sure it's exactly
                320x340 or at least the same aspect ratio (16:17).
            -->
            <span class="image"><img src="{{imgsrc}}" alt="{{alt}}" /></span>
        </div>
    </section>
</template>
