<template name="specialties">
    <section id="four" class="main special">
        <div class="inner">
            <header>
                <h2>Specialties</h2>
            </header>
            <div class="features">
                <section>
                    <span class="icon major fa-diamond style1"></span>
                    <h3>Gemology</h3>
                    <p>The right stone worn at the right time, will help you realise your goals</p>
                </section>
                <section>
                    <span class="icon major fa-heartbeat style2"></span>
                    <h3>Medical Astrology</h3>
                    <p>Your health is the most important aspect of your life. We can predict what's coming and help you handle it</p>
                </section>
                <section>
                    <span class="icon major fa-sort-numeric-asc style3"></span>
                    <h3>Numerology</h3>
                    <p>Our world is made up of numbers. So is your life. We can help you decipher it.</p>
                </section>
                <section>
                    <span class="icon major fa-lemon-o style4"></span>
                    <h3>Prasna</h3>
                    <p>Not everyone has a horoscope. We can predict your future without a horoscope with Prasna.</p>
                </section>
            </div>
        </div>
    </section>
</template>