<template name="specialties">
    <section id="four" class="main special">
        <div class="inner">
            <header>
                <h2>Specialties</h2>
            </header>
            <div class="features">
                <section>
                    <span class="icon major fa-diamond style1"></span>
                    <h3>Gemology</h3>
                    <p>The right stone worn at the right time, will help you realise your goals</p>
                </section>
                <section>
                    <span class="icon major fa-heartbeat style2"></span>
                    <h3>Medical Astrology</h3>
                    <p>Consequat turpis venenatis varius lorem sed dictum ipsum amet pellentesque fusce hendrerit consectetur risus, sed eget semper nunc.</p>
                </section>
                <section>
                    <span class="icon major fa-sort-numeric-asc style3"></span>
                    <h3>Numerology</h3>
                    <p>Consequat turpis venenatis varius lorem sed dictum ipsum amet pellentesque fusce hendrerit consectetur risus, sed eget semper nunc.</p>
                </section>
                <section>
                    <span class="icon major fa-lemon-o style4"></span>
                    <h3>Prasna</h3>
                    <p>Consequat turpis venenatis varius lorem sed dictum ipsum amet pellentesque fusce hendrerit consectetur risus, sed eget semper nunc.</p>
                </section>
            </div>
        </div>
    </section>
</template>