<template name="contactdetails">
    <section id="four" class="main special">
        <div class="inner">
            <header>
                <h2>Contact Details</h2>
            </header>
            <div class="features">
                <section>
                    <span class="icon major chennai style1"></span>
                    <h3>Chennai</h3>
                    <p>No.1, I Cross, III Main Road <br>
                        Ellaiamman Nagar<br>
                        Korattur, Chennai- 600076 <br>
                        Ph. <a href="tel:+919444015976">+919444015976</a></p>
                </section>
                <section>
                    <span class="icon major bangalore style2"></span>
                    <h3>Bangalore</h3>
                    <p>15/1, Purushotham Road <br>
                    Halasuru <br>
                    Bangalore- 560008 <br>
                    Ph. <a href="tel:+919449696410">+919449696410</a></p>
                </section>
            </div>
        </div>
    </section>
</template>