<template name="banner">
    <section id="banner" data-video="images/banner">
        <div class="inner">
            <header>
                <h1>Do you need Help?</h1>
                <p>Shri. Laxmi Naarayanan is an expert in Astrology, Vaasthu, Numerology.<br />
                    He CAN help you.</p>
            </header>
            <ul class="actions">
                <li><a href="#" class="button special big">Get Started</a></li>
            </ul>
        </div>
        <a href="#one" class="more">Learn More</a>

    </section>
</template>